.details-wrapper {
    max-width: 100%;
    margin: 5% auto;
    position: relative;
}

.details {
    ::ng-deep mwl-gauge {
    width: 20vw;
    height: 20vh;
    padding: 1%;

    .dial {
        stroke-width: 10;
    }

    .value {
        stroke-dasharray: none;
        stroke-width: 13;
    }

    .value-text {
        fill: #fff;
        font-size: 5vw;
        font-weight: 700;
        }
    }

    .game-gauge-desktop {
        position: absolute;
        top: 10vh;
        right: 20vw;
        &-label {
            position: relative;
            color: #fff;
            bottom: 5vh;
        }
    }

    .game-gauge-mobile {
        position: absolute;
        top: 10vh;
        right: 0;
        &-label {
            position: relative;
            color: #fff;
            bottom: 5vh;
        }
    }
}

.game {
    &-banner {
        height: 50%;
        overflow: hidden;

        &-img {
            width: 100%;
            filter: blur(5px);
            }
        }

        &-content {
            text-align: center;
            position: relative;
            top: -20vh;
        }

        &-header {
            &-title {
                color: #fff;
                font-weight: 700;
                white-space: nowrap;
            }

            &-release-date {
                color: #fff;
                font-weight: 700;
            }

            &-genres {
                color: #fff;
                font-weight: 700;
            }
        }
    }